---
import Navbar from "../../components/Navbar";
import Layout from "../../layouts/Layout.astro";
import consultingImage from "../../assets/consulting.webp";
import { Image } from "@astrojs/image/components";
import SEOFragment from "../../components/SEOFragment.astro";
import { astroI18n, t } from "astro-i18n";

astroI18n.init(Astro);

const title = t("index.services.title");
const shortTitle = t("index.services.shortTitle");
const description = t("index.services.description");
const seo = {
  title: shortTitle,
  description,
  url: Astro.url.pathname,
};
---

<Layout title={shortTitle}>
  <SEOFragment {...seo} slot="head" />

  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 mb-12">
    <div class="mx-auto max-w-5xl">
      <section class="flex items-center gap-12">
        <div class="flex-1 hidden lg:block">
          {/* @ts-expect-error Yes, it works despite the TS error */}
          <Image
            src={consultingImage}
            alt={title}
            class="rounded-2xl hover:shadow-md transition-all bg-neutral-100 dark:bg-neutral-800"
          />
        </div>

        <div class="flex-1">
          <h1 class="font-bold text-5xl dark:opacity-[92%]">
            {title}
          </h1>
          <p class="mt-6 text-gray-800 dark:text-gray-300">
            {description}
          </p>
        </div>
      </section>

      <section class="mt-6">
        <h1 class="font-bold text-3xl mb-8 dark:opacity-[92%]">
          {t("index.services.services.title")}
        </h1>

        <div class="grid grid-auto-fit-md gap-6">
          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.strategy.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.strategy.description")}
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.operations.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.operations.description")}
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.mediaProduction.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.mediaProduction.description")}
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.webDesign.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.webDesign.description")}
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.systemsEngineering.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.systemsEngineering.description")}
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              {t("index.services.services.softwareDevelopment.title")}
            </p>
            <p class="dark:opacity-[92%]">
              {t("index.services.services.softwareDevelopment.description")}
            </p>
          </div>
        </div>
      </section>

      <section class="mt-12 container mx-auto flex flex-wrap">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1 class="font-bold text-3xl mb-3 dark:opacity-[92%]">
            {t("index.services.contact.title")}
          </h1>
          <p class="text-gray-800 dark:text-gray-300">
            {t("index.services.contact.description")}
          </p>
        </div>
        <form
          method="POST"
          action="/api/submit"
          class="lg:w-2/6 md:w-1/2 flex flex-col md:ml-auto w-full mt-6 md:mt-0"
        >
          <div class="relative mb-2">
            <label
              for="email"
              class="leading-7 text-sm text-gray-700 dark:text-gray-300"
              >{t("index.services.contact.form.email")}</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full bg-neutral-300 dark:bg-neutral-800 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-violet-800 rounded border border-gray-600 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              placeholder="calico@nekocorp.com"
              maxlength="120"
              required
            />
          </div>
          <div class="relative mb-2">
            <label
              for="message"
              class="leading-7 text-sm text-gray-700 dark:text-gray-300"
              >{t("index.services.contact.form.message")}</label
            >
            <textarea
              id="message"
              name="message"
              class="w-full bg-neutral-300 dark:bg-neutral-800 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-violet-800 rounded border border-gray-600 text-base outline-none py-1 px-3 transition-colors duration-200 ease-in-out"
              placeholder="Let's work together, nya~"
              required
              maxlength="600"></textarea>
          </div>
          <button
            type="submit"
            class="font-semibold text-gray-200 bg-violet-600 py-2 px-8 hover:bg-violet-700 focus:ring-violet-800 rounded text-lg text-center transition-colors"
            >{t("index.services.contact.form.contact")}</button
          >
          <p class="text-xs mt-3">
            {t("index.services.contact.form.disclaimer")}
          </p>
        </form>
      </section>
    </div>
  </div>
</Layout>
