---
import Navbar from "../../components/Navbar";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon";
import map from "../../assets/map.svg?url";
import SEOFragment from "../../components/SEOFragment.astro";
import { astroI18n, t } from "astro-i18n";

astroI18n.init(Astro);

const title = t("index.contact.title");
const shortTitle = t("index.contact.shortTitle");
const description = t("index.contact.description");
const seo = {
  title: shortTitle,
  description,
  url: Astro.url.pathname,
};
---

<Layout title={shortTitle}>
  <SEOFragment {...seo} slot="head" />

  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 mb-12">
    <div class="mx-auto max-w-5xl">
      <section class="flex flex-col items-center gap-12 mt-14">
        <div class="text-center">
          <h1 class="text-5xl font-bold dark:opacity-[92%]">{title}</h1>
          <h2 class="mt-3 text-gray-800 dark:text-gray-300">
            {description}
          </h2>
        </div>
        <img src={map} alt="Map of Fyra locations" />
      </section>

      <section class="flex flex-col md:flex-row gap-12 mt-14">
        <article class="flex-1">
          <h1 class="font-semibold text-xl mb-2 dark:opacity-[92%]">
            {t("index.contact.socials.title")}
          </h1>
          <ul
            class="flex flex-col gap-1 [&_a]:inline-flex [&_a]:gap-2 [&_a]:items-center [&_a]:text-gray-800 [&_a]:dark:text-gray-100 [&_a:hover]:text-gray-800 [&_a:hover]:dark:text-gray-300 [&_a]:transition-all [&_svg]:w-5 [&_svg]:h-5"
          >
            <li class="flex gap-2 items-center">
              <a
                href="https://twitter.com/teamfyralabs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:twitter" />
                <span>@teamfyralabs</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://mastodon.fyralabs.com/@hq"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:mastodon" />
                <span>@hq@fyralabs.com</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://github.com/fyralabs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:github" />
                <span>FyraLabs</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://discord.gg/5fdPuxTg5Q"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:discord" />
                <span>Discord</span>
              </a>
            </li>
          </ul>
        </article>

        <article class="flex-1">
          <h1 class="font-semibold text-xl mb-2 dark:opacity-[92%]">
            {t("index.contact.emails.title")}
          </h1>

          <ul class="flex flex-col gap-1">
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >{t("index.contact.emails.contact.title")}</span
              >
              <a
                href="mailto:contact@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                contact<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >{t("index.contact.emails.security.title")}</span
              >
              <a
                href="mailto:security@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                security<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >{t("index.contact.emails.staff.title")}</span
              >
              <a
                href="mailto:staff@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                staff<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >{t("index.contact.emails.services.title")}</span
              >
              <a
                href="mailto:consulting@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                services<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
          </ul>
        </article>

        <section class="flex-1">
          <h1 class="font-semibold text-xl mb-1 dark:opacity-[92%]">
            {t("index.contact.staff.title")}
          </h1>
          <p class="dark:opacity-[92%]">
            {t("index.contact.staff.description")}
            <a
              class="text-violet-700 dark:text-violet-300 hover:text-inherit transition-all"
              href="https://airtable.com/shr7nmRedL9NgR1JT"
              >{t("index.contact.staff.cta")}</a
            >
          </p>
        </section>
      </section>
    </div>
  </div>
</Layout>
