---
import { Icon } from 'astro-icon';
import DiscordStatusBadge from './DiscordStatusBadge';
import { Image } from "astro:assets";
import { socialToIcon, socialToName, type TeamMember } from '../util/team';

type Props = TeamMember;

const { name, title, username, socials, discordID, dndIsOnline } = Astro.props;
const splitName = name.split(' ');
---

<div class="flex flex-col bg-neutral-100 dark:bg-neutral-800 p-6 rounded-xl items-center gap-3 hover:shadow-md transition-all">
  <div class="relative">
    <Image src={import(`../assets/people/${username}.webp`)} alt={name} class="rounded-full w-40 h-40 bg-zinc-700" />
    { discordID ? <DiscordStatusBadge discordID={discordID} dndIsOnline={dndIsOnline ?? false} client:load/> : <></> }
  </div>

  <div class="text-center">
    <p class="font-semibold dark:opacity-[92%]">{splitName.slice(0, -1).join(' ')} <span class="font-extrabold">{splitName.at(-1)}</span></p>
    <p class="text-gray-800 dark:text-gray-300">{title}</p>
  </div>

  <a class="group text-gray-600 dark:text-gray-200 text-sm" href={`mailto:${username}@fyralabs.com`}>
    {username}<span class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 dark:group-hover:text-gray-200 transition-all">@fyralabs.com</span>
  </a>

  <div class="flex gap-5 [&_a:hover]:text-gray-400 [&_a]:transition-all">
    {
      socials.map(({type, link}) => (
        <a href={link} target="_blank" rel="noopener" aria-label={socialToName[type]}>
          <Icon class="w-6" name={socialToIcon[type]} />
        </a>
      ))
    }
  </div>
</div>
